.freecode {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0px
}
.camp {
    font-size: 14px;
    font-family: Arial;
    color: gray;
    margin-bottom: 5px;
    margin-top: 0px
} 
.navigate {
    font-size: 14px;
    font-family: Arial;
    width: 450px;
    margin-bottom: 15px;
    margin-top: 0px
} 
.skills {
    font-size: 14px;
    font-family: Arial;
    margin-bottom: 5px;
    margin-top: 0px
}
.chp {
    font-size: 14px;
    font-family: Arial;
    color: lightskyblue;
    margin-bottom: 5px;
    margin-top: 0px
}