.div {
  display: flex;
  flex-direction: column;
  width: 370px;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0, 0, 3 rgba(240, 240, 240, 0.05);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inbox {
  color:rgb(184, 184, 184);
  font-size: 14px;
  font-family: Arial;
  margin-bottom: 15px;
}
.div2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}
.pic {
  margin-right: 10px;
}
.img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}
.footer {
  flex: 1;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.p1 {
  font-size: 25px;
  font-style: bold;
  font-family: roboto;
  }
.p2 {
  font-size: 18px;
  font-style: bold;
  font-family: roboto;
  padding-bottom: 3px;
}
.p3{
  color:rgb(184, 184, 184);
  font-size: 14px;
  font-family: Roboto;
}
.time {
  color:rgb(184, 184, 184); 
  font-family: roboto;
  font-size: 14px;
  width: 50px;
}