.div {
  display: flex;
  flex-direction: row;
  height: 50px
}
.item {
  display: flex;
  background-color: lightpink; 
  width: 100px;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: black;
  color: white;
  border-width: 1px;
  border-style: solid;
}
.div2 {
  background-color: lightblue; 
  width: 200px;
}