body {
  height: 3000px;
}
.a {
  position: relative;
}
.x {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: Arial;
  border-radius: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 6px;
  padding-left: 6px;
}