div {
  font-family: Arial;
}.border{
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  width: 300px;
  border-radius: 5px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.notification {
  background-color: rgb(49, 109, 245);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}