.div1,
.div2,
.div3{
  text-align: center;
 
}
.search-bar {
  border-radius: 30px;
  width: 500px;
  border-width: 1px;
  border-width: solid;
  font-size: 16px;
  border-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0, 1px, 5px gray;
  margin-top: 20px;
  margin-bottom: 15px;
  
}
.Google {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  }
.lucky,
.search {
  background-color: rgb (150, 150, 150);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-style: bold;
}