.search-bar {
  border-radius: 30px;
  width: 500px;
  border-width: 1px;
  border-width: solid;
  font-size: 16px;
  border-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0, 1px, 5px gray;
  margin-top: 20px;
  margin-left: 450px;
  margin-right: 450px;
  vertical-align: middle;
}
.Google {
  width: 200px;
  margin-left: 600px;
  margin-right: 450px;
  margin-bottom: 0px;
  display: block;
  padding-bottom: 0px;
}