.first-name,
.last-name {
  font-size: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-width: 1px;
  border-style: solid;
}
.email {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  border-radius: 8px;
  width: 310px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-width: 1px;
  border-style: solid;
}
.sign-up {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  background-color: rgb(47, 127, 231);
  padding-left: 10px;
  padding-right: 10px;
  width: 315px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}