body {
  height: 3000px;
}
.header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(210, 210, 210);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
}
.left-section {
  display: flex;
  align-items: center;
  font-family: Arial;
  
}
.pic {
  height: 50px;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 20px;
}

.right-section {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
.friend {
  border-radius: 3px;
  border-width: 1px;
  border: none;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: royalblue;
  color: white;
  font-family: Arial;
  margin-left: 20px;
  font-style: bold;
  cursor: pointer;
}
.message {
  border-radius: 3px;
  border-width: 1px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  background-color: gray;
  color: black;
  font-family: Arial;
  margin-left: 20px;
  font-style: bold;
  cursor: pointer;
}
